/* media_player.css - Contains custom CSS for the 'Media Player' (/media-player/media_player.htm) */

body {
  height: 30em;
  margin: 0;
  background-color: #fff;
}

body, 
nav, { 
  width: 40em !important;
}

.spacer-center {
  width: 67% !important;
}

.nav-logo {
  height: 4.5em;
}

.nav-logo img {
  width: 6.8em;
  height: 7em;
  margin: 0 auto;
  display: table;
}

.nav-link_to {
  width: 24em;
}

#container-player {
  margin: 1em;
}

#container-player, 
#container-player > div + img {
  width: 38em;
  height: 23.65em;
}

#description-player {
  position: absolute;
  right: 4.4em;
}

#description-player.easy_treatment {
  left: 5em;
}

#description-player.live_with_raej {
  top: 13em;
  right: 5.5em;
}

.carousel-listen_now, 
.carousel-listen_archive {
  width: 10.4em;
  height: 2.9em;
  margin-top: 13em;
  background: none;
  border: none;
  box-shadow: none;
}

.carousel-listen_now a {
  margin-left: 0.75em;
}


@media screen and (min-width: 310px) and (max-width: 400px) {
  body {
    width: 24.5em;
  }

  .nav-empty {
    width: 0;
  }

  nav > ul > li:nth-child(4)  {
    float: none;
  }

  #container-player, #container-player > div + img {
    width: 20.6em;
    height: 13.65em;
  }

  #description-player {
    right: 0.4em;
  }

  #description-player.live_with_raej {
    top: 6.5em;
    right: 1.5em;
  }

  .carousel-listen_now {
    margin-top: 7em;
  }
}

@media screen and (min-width: 412px) and (max-width: 620px) { 
  body {
    width: 26em;
  }

  nav {
    height: 10.5em;
  }

  .nav-empty {
    width: 30.75%;
  }

  .nav-logo {
    width: 9em !important;
  }

  nav > ul > li:nth-child(3)  {
    width: 8em;
    font-size: 0.9em;
    text-align: right;
  }

  #container-player, #container-player > div + img {
    width: 24em;
    height: 12.81em;
  }

  #description-player {
    right: 1.4em;
  }

  .carousel-listen_now {
    margin-top: 7em;
  }
}