/* style.css - Contains custom CSS for wutm.com/index.htm */

nav {
  width: 100%;
  position: absolute;
  font-family: 'abril-text', serif;
  font-size: 1em;
  font-weight: 700;
  z-index: 2;
}

nav > ul {
  height: 4.38em;
  margin-bottom: 5px;
  padding-left: 0;
  background-color: #a5bcbb;
  border: 1px solid #a2a2a1;
  border-top: 5px solid #2b2c30;
}

nav > ul > li {
  padding-top: 1.13em;
  display: inline-block;
  list-style-type: none;
  vertical-align: top;
}

.nav-logo {
  padding-top: 0;
}

.nav-spacer {
  padding: 1em 0.25em;
  font-size: 2em;
  line-height: 0.5em;
  color: #9f9c99
}

nav > ul > li > a {
  text-decoration: underline;
  text-decoration-style: dotted;
  letter-spacing: 0.6px;
  color: #384883;
}

.carousel-item-content {
  position: absolute;
  font-family: 'los-feliz', sans-serif;
  font-size: 1.25em;
}

.carousel-item-content > span {
  padding: 0.25em;
  background-color: #f4f5f0;
  line-height: 2em;
  color: #2f3e55;
}

.carousel-listen_now, 
.carousel-listen_archive {
  width: 7.4em;
  height: 7.15em; 
  margin-top: 1em;
  padding: 0.5em;
  background-color: #a5bcbb;
  border: 5px solid #2f3e55;
  box-shadow: 2px 2px 2px #333;
}

.carousel-listen_archive {
  width: 10.1em;
}

.carousel-listen_now > span, 
.carousel-listen_archive > span {
  margin: 0 0.5em;
  background-color: #2f3e55;
  font-family: 'abril-text', serif;
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 0.4px;
  color: #cac5c2;
}

.carousel-listen_now a, 
.carousel-listen_archive a {
  width: 3.5em;
  display: block;
  margin: 0.5em 1em 0.5em 1.15em;
}

.carousel-listen_archive a {
  margin: 0.5em 1em 0.5em 2.5em;
}

#container-discussions {
  width: 20.25em;
  top: 9.5em;
  left: 40.75em;
}

#container-easy_treatment {
  width: 20.25em;
  top: 12.25em;
  left: 5.75em;
}

#email_newsletter {
  width: 10.75em;
  height: 3.5em;
  position: absolute;
  top: 96.25%;
  left: 44%;
  border: 1px solid #2f3e55;
}

#email_newsletter a {
  padding: 0.75em 1em;
  display: block;
  background-color: #a5bcbb;
  border: 3px solid #f4f5f0;
  font-family: 'abril-text';
  font-weight: 700;
  color: #2f3e55;
}

@media screen and (min-width: 1290px) and (max-width: 1580px) {
  .nav-empty {
    width: 17.25%;
  }
}

@media screen and (min-width: 1590px) and (max-width: 1890px) {
  .nav-empty {
    width: 24.25%;
  }
}

@media screen and (min-width: 1910px) {
  .nav-empty {
    width: 26.5%;
  }
}
